# 1. 파이썬 데이터 타입 및 변수

### 1.1 변수 및 대입
- variable
- structure
- class

### 1.2 데이터 타입 종류

<center>타 입|<center>설 명|<center>예
:---|:---|:---
int|정수형 데이터|100
float|소숫점을 포함한 실수|10.25
bool|참/거짓|True
str|문자열|'LG Electronics'
list|리스트, 순서가 있는 배열, 수정/추가/삭제가 가능한 자료 구조|[1, 2, 3, 'a', 'b']
tuple|튜플, 순서가 있는 배열, 수정/추가/삭제가 불가능한 자료 구조|(1, 2, 3, 'a', 'b')
dict|사전, {key: value}로 구성되어있는 자료 구조|{'Math': 99, 'English': 88, 'Korean': 78}
set|집합, {key}로 구성되어있는 자료 구조|{'a', 'b', 'c'}

<참고> None Type

### 1.2.1 데이터 타입 특성

- **수정 불가능한 데이터 타입**
 - 정수, 실수, 불린, 문자열, 튜플  
 <br>
- **수정 가능한 데이터 타입**
 - 리스트, 사전형, 집합  
 <br>
- **메모리 복사 or View**

### 1.3 정수(int) 타입
- 10진수
- 2진수
- 8진수
- 16진수

In [1]:
# 10진수
a = 365

In [2]:
# 2진수
b = 0b101101101

In [3]:
# 8진수
c = 0o555

In [4]:
# 16진수
d = 0x16d

In [5]:
aaa = 'abc\nbb'

### 1.4 실수(float) 타입

In [2]:
fa = 3.14

In [6]:
fb = 3.1415e2

In [7]:
fb

314.15

### 1.5 불린(boolean) 타입

In [8]:
ba = True

In [9]:
bb = False

In [10]:
ba and bb

False

### 1.6 문자열(str) 타입

In [11]:
# 문자열 생성
sa = 'Hello World'

sc = "i'm boy"

sb = 'one way of writing a string'

In [12]:
sc = 'another\n way'

In [16]:
sd = '''
This is a longer string that spans multiple lines
'''

In [18]:
print(sd)

This is a longer string that spans multiple lines

In [19]:
# 문자열 카운트
sd.count('\n')

2

In [15]:
# 문자열 수정
a = 'this is a string'
a[10] = 'f'    # 문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [16]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [18]:
# type 변경
a = 5.6
s = str(a)
print(s)

5.6

In [20]:
a = 'abc'
type(a)

str

In [21]:
st = 'abcde \t aa \\ fghi'

In [23]:
st[0:2]

NameError: name 'st' is not defined

In [22]:
# Escape 문자
# \n \t \\ \' \" etc
s = '12\\34'
print(s)

12\34

In [23]:
se = r'this\has\no\special\characters'
print(se)

this\has\no\special\characters

In [25]:
# 문자열 연산
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

In [26]:
# 문자열 연산
a = '='
a * 50

'=================================================='

In [27]:
# Slicing
a = '20010331Rainy'
print(a[:8])
print(a[8:])

20010331
Rainy

In [28]:
a = 30

In [29]:
b = 40

In [34]:
print('a = {}, b = {}'.format(a,b))

a = 30, b = 40

In [31]:
print('a = {}, b = {}'.format(b,a))

a = 40, b = 30

In [33]:
# 문자열 format
template = '{0:.2f} {1:s} are worth US$ {2:d}'

In [ ]:
template = '{0:.2f} {1:s} are worth US& '

In [ ]:
template.format(4.5560, 'Argentine Pesos', 1)

In [34]:
# 문자열 합치기
','.join('abcd')
','.join(['a','b','c','d'])

'a,b,c,d'

In [35]:
# 문자열 나누기
a = 'a:b:c:d'
a.split(':')

['a', 'b', 'c', 'd']

In [36]:
# Strip
a = ' hi '
a.rstrip()
a.lstrip()
a.strip()

'hi'

In [37]:
# upper(), lower()
a = ' Hi '
print(a.upper())
print(a.lower())

 HI
 hi

#### 자주 사용하는 문자열 메소드

<center>메소드|<center>설 명
:---|:---
문자열.startswith(prefix)|문자열이 prefix로 시작하는지 검사하여 True/False 반환
문자열.endswith(suffix)|문자열이 suffix로 끝나는지 검사하여 True/False 반환
문자열.format(value)|문자열의 특정 값을 value로 치환한다.
문자열.replace(old, new)|s에 있는 old를 new로 바꾼다.
문자열.split(sep)|sep를 구분자로 하여 문자열을 분할한다.
문자열.strip(chars)|앞이나 뒤에 나오는 공백이나 chars로 지정된 문자들을 제거한다.

### <참고>
- ASCII CODE
- UNICODE

- utf-8
- cp949

### 1.7 리스트(list) 타입

In [36]:
a = []

In [37]:
a

[]

In [ ]:
# 리스트 생성
a = list()

a = []

b = [1, 2, 3, 4, 5]

c = ['aaa', 'bbb', 'ccc']

d = [1, 2, 'aaa', 'bbb']

e = [1, 2, ['aaa', 'bbb']]

In [39]:
# 인덱싱 & 슬라이싱
a = [1,2,3,4,5,['a','b','c','d'],7,8,9]

In [40]:
a[0]

1

In [41]:
a[-1]

9

In [42]:
a[0:4:2]

[1, 3]

In [43]:
a[5]

['a', 'b', 'c', 'd']

In [45]:
a[5][2]

'c'

In [46]:
# pointer
b = a[5]
b[0] = 'k'

In [47]:
a

[1, 2, 3, 4, 5, ['k', 'b', 'c', 'd'], 7, 8, 9]

In [48]:
from copy import deepcopy
c = deepcopy(a[5])
c[1] = 'm'
c

['k', 'm', 'c', 'd']

In [49]:
a

[1, 2, 3, 4, 5, ['k', 'b', 'c', 'd'], 7, 8, 9]

In [50]:
1 in a

True

In [51]:
1 not in a

False

#### function

In [52]:
len(a)

9

In [53]:
sum(b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
max(b)

'k'

In [55]:
min(b)

'b'

In [56]:
del(a[0])

In [57]:
a

[2, 3, 4, 5, ['k', 'b', 'c', 'd'], 7, 8, 9]

#### method

In [58]:
a.append(10)

In [59]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [60]:
a.reverse()

In [61]:
a.remove(1)

ValueError: list.remove(x): x not in list

In [62]:
a.count()

TypeError: count() takes exactly one argument (0 given)

In [63]:
# extend()
b = [1,2,3]
b.extend([4,5])
b

[1, 2, 3, 4, 5]

**<참고> 함수의 인자로 자주 활용되는 리스트**

### 1.8 튜플(tuple) 타입

In [64]:
# 튜플의 생성
a = tuple()
a = ()
b = (1,)    # 마지막에 콤마 필요
c = (1, 2, 3)
d = 1, 2, 3 # packing & unpacking
e = (1, 2, ('ab', 'cd'), 3, 4)

**튜플은 수정 및 변경 불가**

In [ ]:
c[0] = 9

In [ ]:
del c[1]

In [ ]:
# packing & unpacking
x,y,z = (1,2,3)
print(x,y,z)

In [ ]:
def f_a():
    return (4,5,6)

In [ ]:
a,b,c = f_a()
print(a,b,c)

In [ ]:
x = 1
y = 2

print('Before: ', x, y)

x, y = y, x

print('After : ', x, y)

### 1.9 사전(dict) 타입

In [65]:
# 사전의 생성
d = {1:'Hello World', 'class':'python', 'pi':3.14, 'lst':[1,2,3]}

In [66]:
d[1]
d['class']
d['pi']
d['lst']

[1, 2, 3]

In [67]:
# 순차적인 Index 접근 불가
# dict 순서는 hash 순서
d[0]

KeyError: 0

In [68]:
d.get('x','default value')

'default value'

In [69]:
# 사전 추가 & 삭제
d['add'] = 'add value'
del d['class']

In [70]:
d

{1: 'Hello World', 'pi': 3.14, 'lst': [1, 2, 3], 'add': 'add value'}

In [71]:
# 수정 가능한 변수는 key 로 사용 불가
dd = {[1,2,3]:'value'}

TypeError: unhashable type: 'list'

In [72]:
# keys(), values(), items()
d.keys()

dict_keys([1, 'pi', 'lst', 'add'])

In [73]:
d.values()

dict_values(['Hello World', 3.14, [1, 2, 3], 'add value'])

In [74]:
d.items()

dict_items([(1, 'Hello World'), ('pi', 3.14), ('lst', [1, 2, 3]), ('add', 'add value')])

In [75]:
for k in d.keys():
    print('key: ', k )

key:  1
key:  pi
key:  lst
key:  add

In [76]:
'pi' in d

True

In [ ]:
d.clear()

### 1.10 집합(set) 타입

In [ ]:
# 집합의 생성
s = set([1,2,3,4])

x = {2,3,2,3,4,5,1}
y = {3,4,5,6,7}

In [ ]:
x

In [ ]:
x | y    # 합집합

In [ ]:
x & y    # 교집합

In [ ]:
x - y    # 차집합

In [ ]:
x ^ y    # 대칭 차집합

In [ ]:
x.add(10)
x

In [ ]:
x.update([11,12,13])
x

In [ ]:
x.remove(13)
x

### 1.11 None 타입

In [77]:
a = None
a is None
b = 5
b is not None

True

In [78]:
def add_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [79]:
add_multiply(1,2)

3

### 1.12 타입 변환

In [80]:
a = 1

In [81]:
type(a)

int

In [82]:
isinstance(a, int)

True

In [83]:
float(1)

1.0

In [84]:
int(3.14)

3

In [85]:
str(3.14)

'3.14'

In [86]:
float('3.14')

3.14

In [87]:
float('Hello World')

ValueError: could not convert string to float: 'Hello World'

In [88]:
tuple([1,2,3])

(1, 2, 3)

In [89]:
list((1,2,3))

[1, 2, 3]

### 1.13 변수 할당

In [90]:
a = [1,2,3]
b = [1,2,3]
c = a
d = a[:]    # Numpy, Pandas 에서는 View를 제공(메모리의 효율적 사용)

In [91]:
a is c

True

In [92]:
a is b

False

In [93]:
a is d

False

In [94]:
a == b

True

In [95]:
id(a)

2012774806984

In [96]:
id(b)

2012774063432

In [97]:
id(c)

2012774806984

In [98]:
id(d)

2012774806408

### 1.14 변수 활용

In [99]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [100]:
students[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0,
 'order': 0}

In [101]:
students[1]['kor']

90

In [ ]:
studnts[2[]]

---

In [ ]:
# end of file